<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Emerson's Game</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,300,600">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/skeleton.css">
    <link rel="stylesheet" href="css/style.css">

    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <div id="app" class="container">
      <h1>Emerson's Game</h1>

      <table class="u-full-width">
        <thead>
          <tr>
            <th>&nbsp;</th>
            <th v-for="n in track">{{ n }}</th>
            <th>FINISH</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(racer, i) in racers">
            <td nowrap class="current-racer" v-if="i == currentRacerIndex">
              {{ racer.name }} (<span v-bind:id="racerDamageId(racer)">{{ racer.damage }}</span> damage)
            </td>
            <td nowrap v-else>
              {{ racer.name }} (<span v-bind:id="racerDamageId(racer)">{{ racer.damage }}</span> damage)
            </td>
            <td v-for="n in finishLine" v-bind:id="racerPositionId(racer, n)">
              <template v-if="racer.position == n">
                <template v-if="racer.position == finishLine">WIN</template>
                <template v-else>R</template>
              </template>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="row" v-if="ready">
        <div class="two columns">&nbsp;</div>
        <div class="eight columns centered">
          <div>
            <button id="roll-normal-speed" @click="rollNormalSpeed" class="normal-speed">Normal Speed</button>
            <button id="roll-super-speed" @click="rollSuperSpeed" class="super-speed">SUPER SPEED</button>
          </div>
        </div>
        <div class="two columns">
          <button id="new-race" @click="newRace">New Race</button>
        </div>
      </div>

      <input id="roll" v-model="roll" v-if="testMode">
    </div>

    <script>
      var app = new Vue({
        el: '#app',
        data () {
          return {
            finishLine: 0,
            racers: [],
            testMode: false,
            currentRacerIndex: 0,
            roll: null
          }
        },
        computed: {
          track: function () {
            return (this.finishLine - 1)
          },
          ready: function () {
            return (this.racers.length > 0)
          },
          currentRacer: function () {
            return this.racers[this.currentRacerIndex]
          }
        },
        methods: {
          fetchRace: function () {
            axios
              .get('/api/races')
              .then(response => {
                this.racers = response.data.racers
                this.finishLine = response.data.finishLine
                this.testMode = response.data.testMode
              })
          },
          rollNormalSpeed: function (event) {
            this.doRoll('NORMAL')
          },
          rollSuperSpeed: function (event) {
            this.doRoll('SUPER')
          },
          nextRacer: function (event) {
            this.currentRacerIndex = ((this.currentRacerIndex + 1) % this.racers.length)
            this.roll = null
          },
          doRoll: function (speedType) {
            axios
              .post('/api/races/roll', {
                'id': this.currentRacer.id,
                'speedType': speedType,
                'roll': this.roll
              })
              .then(response => {
                axios
                  .get('/api/races')
                  .then(response => {
                    this.racers = response.data.racers
                    this.finishLine = response.data.finishLine
                    this.testMode = response.data.testMode

                    this.nextRacer()
                  })
              })
          },
          racerPositionId: function (racer, i) {
            return ['racer', racer.id, 'position', i].join('-')
          },
          racerDamageId: function (racer) {
            return ['racer', racer.id, 'damage'].join('-')
          },
          currentRacerStyle: function (i) {
            return (i == this.currentRacerIndex)
          },
          newRace: function () {
            axios
              .post('/api/races/new', {})
              .then(response => {
                this.resetRace()
              })
          },
          resetRace: function () {
            this.fetchRace()
            this.currentRacerIndex = 0
          }
        },
        mounted () {
          this.resetRace()
        }
      })
    </script>
  </body>
</html>
