<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Emerson's Game</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,300,600">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/skeleton.css">
    <link rel="stylesheet" href="css/style.css">

    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <div id="app" class="container">
      <h1>Emerson's Game</h1>

      <div id="race-track">
        <div class="row">
          <div class="one column header">&nbsp;</div>
          <div class="one column header">&nbsp;</div>
          <div class="one column header centered" v-for="n in track">{{ n }}</div>
          <div class="one column header centered">🏁</div>
        </div>
        <div class="row border-top" v-for="(racer, i) in racers">
          <div class="one column">
            <span v-if="testMode" v-bind:id="'test-racer-' + racer.id + '-position'">{{ racer.position }}</span>
            <span v-if="testMode" v-bind:id="'test-racer-' + racer.id + '-damage'">{{ racer.damage }}</span>
            <span v-if="testMode" v-bind:id="'test-racer-' + racer.id + '-crashed'">{{ racer.crashed }}</span>
            <span class="nowrap">
              <span v-if="currentRacer.id == racer.id">🎲 </span>
              <span v-else class="hidden">🎲 </span>
              <strong>{{ racer.name }}</strong>
            </span>
          </div>
          <div class="one column centered">
            <template v-if="racer.position == 0">🚘</template>
            <template v-for="x in racer.damage">❌</template>
          </div>
          <div class="one column centered" v-for="n in finishLine">
            <template v-if="racer.position == n">
              <template v-if="racer.position == finishLine">🏆</template>
              <template v-else-if="racer.crashed">🔥</template>
              <template v-else>🚘</template>
            </template>
            <template v-else>&nbsp;</template>
          </div>
        </div>
      </div>

      <div id="race-controls" v-if="ready && !over">
        <div class="row">
          <div class="two columns">&nbsp;</div>
          <div class="eight columns centered">
            <div>
              <button id="roll-normal-speed" @click="rollNormalSpeed">Normal Speed</button>
              <button id="roll-super-speed" @click="rollSuperSpeed">SUPER SPEED</button>
            </div>
          </div>
          <div class="two columns right-aligned">
            <button id="new-race" @click="newRace">New Race</button>
          </div>
        </div>
      </div>

      <div id="race-over" v-if="over">
        <div class="five columns">&nbsp;</div>
        <div class="two columns centered">
          <button id="play-again" @click="newRace">Play Again</button>
        </div>
        <div class="five columns">&nbsp;</div>
      </div>

      <input v-if="testMode" id="test-roll" v-model="roll">
      <input v-if="testMode" id="test-processing" v-model="processing">
    </div>

    <script>
      var app = new Vue({
        el: '#app',
        data () {
          return {
            finishLine: 0,
            racers: [],
            currentRacer: null,
            over: false,
            testMode: false,
            roll: 0,
            processing: false
          }
        },
        computed: {
          track: function () {
            return (this.finishLine - 1)
          },
          ready: function () {
            return (this.racers.length > 0)
          }
        },
        methods: {
          fetchRace: function () {
            axios
              .get('/api/races')
              .then(response => {
                this.racers = response.data.racers
                this.finishLine = response.data.finishLine
                this.currentRacer = response.data.currentRacer
                this.over = response.data.over
              })
          },
          fetchSettings: function () {
            axios
              .get('/api/races/settings')
              .then(response => {
                this.testMode = response.data.testMode
              })
          },
          rollNormalSpeed: function (event) {
            this.doRoll('NORMAL')
          },
          rollSuperSpeed: function (event) {
            this.doRoll('SUPER')
          },
          doRoll: function (speedType) {
            this.processing = true

            axios
              .post('/api/races/roll', {
                'speedType': speedType,
                'roll': this.roll
              })
              .then(response => {
                axios
                  .get('/api/races')
                  .then(response => {
                    this.racers = response.data.racers
                    this.finishLine = response.data.finishLine
                    this.currentRacer = response.data.currentRacer
                    this.over = response.data.over

                    this.processing = false
                  })
              })
          },
          newRace: function () {
            this.processing = true

            axios
              .post('/api/races/new', {})
              .then(response => {
                this.loadRace()

                this.processing = false
              })
          },
          loadRace: function () {
            this.fetchSettings()
            this.fetchRace()
            this.roll = 0
          }
        },
        mounted () {
          this.loadRace()
        }
      })
    </script>
  </body>
</html>
